body {
<<<<<<< HEAD
    font-family: Arial, Tahoma;
}

.trans1{
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
} // this probably does something
=======
    font-family: Arial, Tahoma, Helvetica;
}
>>>>>>> 73b2d3bb08ab88550e0c8f7ad06bf259fb665356
